modules = ["python-3.12"]
run = "python3 bot.py"

[nix]
channel = "stable-24_05"
packages = ["cacert"]

[deployment]
run = ["sh", "-c", "python3 bot.py"]

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 44433416
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 bot.py"

[[ports]]
localPort = 8080
externalPort = 80
